body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Hack, monospace;
}

.title-container {
  width: auto;
  height: 400px;
  padding: 10px;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(140, 119, 70, 1) 0%,
    rgba(150, 150, 138, 1) 100%
  );
}

.name {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  margin-top: 140px;
  margin-left: 100px;
}

.title {
  font-size: 20px;
  color: white;
  margin-left: 100px;
}

.skill {
  font-size: 28px;
  color: white;
}

.skill-title {
  font-size: 20px;
  color: white;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px 5px;
}

.intro-row img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.intro-card {
  width: 400px;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #CDE9FF;
}

.skills-container {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: #221f1f;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.icon:hover .tooltiptext {
  visibility: visible;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  margin: 10px 10px;
  padding: 20px 20px;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  margin: 10px 10px;
  padding: 20px 20px;
}

.experience-container {
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.xp {
  font-size: 28px;
}

.xp-title {
  font-size: 20px;
}

.card {
  text-align: left;
  width: 200px;
  height: 200px;
  background-color: #CDE9FF;
  border-style: none;
  border-radius: 8px;
  padding:10px 10px;
}

.card a {
  text-decoration: none;
  color: rgb(45, 45, 173);
}

.projects-container {
  width: auto;
  padding: 50px;
  text-align: center;
  background-color: #16251F
}

.contact-container {
  width: auto;
  padding: 50px;
  text-align: center;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-card {
  width: auto;
  background-color: #CDE9FF;
  border-style: none;
  border-radius: 8px;
  padding:20px 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.form input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  border: solid 1px #16251F;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.form textarea {
  margin-top: 6px;
  min-width: 18em;
  height: 57px;
  padding: 0px 10px;
  font-size: 16px;
  border: solid 1px #16251F;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.form button {
  font-family: Hack, monospace;
  padding: 9px 16px;
  border: 0;
  background-color: #23242C;
  color: white;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.footer-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #082B44
}

.left-side, .center, .right-side {
  text-align: left;
  width: 400px;
  padding: 10px;
  margin: 10px;
  /* height: 200px; */
}

.left-side p, .center p, .right-side p {
  color: #fff;
  font-size: 13px;
}

.icons-row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  margin: 10px 10px;
}

.icons-row a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .row {
    grid-template-columns: repeat(3, auto);
  }

  .row2 {
    grid-template-columns: repeat(1, auto);
  }

  .intro-row {
    flex-direction: column;
  }

  .intro-card {
    width: 250px;
  }

  .footer-container {
    flex-direction: column;
  }

  .icons-row {
    justify-content: flex-start;
  }

}
